---
titleTag: PRL Maintains Nuclear & Military Certifications | ASME, MIL-I-45208, Castings, NAVSEA
pageName: Certifications
description: ASME certificate holder, we follow MIL-I-45208 and NAVSEA procedures. We have Nineteen Level III NDE personnel in-house certified to ASNT-TC-1A and maintain training to MIL-STD and ANSI requirements.
pageClass: certificationsCap
pageSlug: certifications/
layout: 'base.njk'
---

<section class="container contentLeadIn">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center pt-5 pb-4 py-md-5">
      <h1 class="mb-4">When your passion for precision is reflected in all you do, you receive valuable certifications from renowned organizations</h1>
      <p>We have demonstrated our ability to consistently provide products and services that meet ISO Certification's rigorous standards. In addition to meeting our customers' standards, we meet all applicable statutory and regulatory requirements.</p>
    </div>
  </div>
</section>
<div class="container mb-5">
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="4" />
    </div>
  </div>
</div>
<section class="container certLists">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-6">
          <p>We have partnered with the following organizations to ensure our products and capabilities deliver the highest standards to our customers:</p>
          <ul>
            <li><a href="https://www.asme.org" target="_blank" rel="noopener nofollow">The American Society of Mechanical Engineers (ASME)</a></li>
            <li><a href="https://www.afsinc.org" target="_blank" rel="noopener nofollow">The American Foundry Society (AFS)</a></li>
            <li><a href="https://www.aws.org/home" target="_blank" rel="noopener nofollow">The American Welding Society (AWS)</a></li>
            <li><a href="https://submarinesuppliers.org" target="_blank" rel="noopener nofollow">The Submarine Industrial Base Council (SIBC)</a></li>
            <li><a href="https://asnt.org" target="_blank" rel="noopener nofollow">The American Society for Nondestructive Testing (ASNTA)</a></li>
            <li><a href="https://www.sfsa.org" target="_blank" rel="noopener nofollow">The Steel Founders’ Society of America (SFSA)</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="mt-5 mt-md-0 mb-4">Our Certifications include:</h4>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Cras vitae justo hendrerit</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include './_includes/raq.njk' %}