---
titleTag: Locations in Cornwall and Lebanon, PA | Navy Nuclear Approved to Perform Level One Work
pageName: Facilities
description: We can provide castings to 25,000 pounds, AOD up to 18,500 lbs. per heat. ASNT National Certifications (VT/MT/PT/RT) and NAVSEA 250-1500-1 Certified (VT/PT). Supplying high integrity castings and machining for over 50 years from two outstanding locations. 
pageClass: facilitiesCap
pageSlug: facilities/
layout: 'base.njk'
---

<section class="container contentLeadIn pb-4">
<div class="row">
  <div class="col-md-8 offset-md-2 text-center py-5">
      <h1 class="mb-4">Our 20,000 square foot headquarters in South Windham, Connecticut is easily accessible by East Coast shipbuilders. We stand by, ready to meet your most stringent requirements.</h1>
      <p>Established over 40 years ago, Micro Precision LLC is a fast-growing business that provides precision machined systems, and assembled components. Our expert team works closely with customers in the defense and homeland security sectors. We are NAVSEA and Level1/SUBSAFE certified and well as ISO 9001:2015 certified.</p>
    </div>
  </div>
  
</section>
{% include './_includes/raq.njk' %}